@import '../../shared/variables.scss';

.voluntary-list {
  .left-col {
    min-height: 300px;
    background-color: $lightGrayColor;
    padding: 50px 30px 40px 30px;
  }
  .right-col {
    background-color: $whiteColor;
    padding: 55px 150px 0 53px;
  }

  .calendar-container {
    padding-top: 100px;

    .title {
      font-size: 25px;
    }
    .table {
      margin-top: 34px;
      max-width: 580px;
      thead {
        tr {
          border: 1px solid $grayColor;
        }
        th {
          padding: 20px;
          background-color: $grayColor;

          border-color: $grayColor;
        }
        .text {
          color: $whiteColor;
          font-size: 22px;
        }
      }
      tbody {
        td {
          padding: 10px 20px;
          background-color: $whiteColor;
          border: 1px solid $grayColor;
        }
        .text {
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .right-col {
      padding-right: 20px;
    }
    .left-col {
      padding-left: 20px;
    }
  }
  .title-container-product {
    margin-bottom: 30px;
  }
  .search-input {
    padding-left: 0px;
  }
  .btn-search-product {
    background-color: white;
    padding-top: 4px;
    margin-left: -60px;
  }
  .search-product {
    padding-left: 0px;
  }
}
