@import '../../shared/variables.scss';

.contact {
  h2.title {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .form-container {
    .input-group {
      width: 100%;
      margin-top: 25px;
      
    }
    .btn-container {
      margin-bottom: 40px;
      .btn-submit {
        width: 300px;
      }
    }
  }
  .right-col {
    >.title {
      margin-bottom: 45px;
    }
    .phone-container {
      background-color: $whiteColor;
      border-radius: 20px;
      border: 1px solid $lightGrayColor;
      max-width: 350px;
      margin: 0 auto;
      .title {
        margin-top: 40px;
        margin-bottom: 23px;
        font-size: 24px;
        color: $primaryColor;
      }
      .phone {
        padding-bottom: 38px;
        &.first {
          border-bottom: 1px solid $lightGrayColor;
        }
        img {
          margin-right: 15px;
        }
        a {
          text-decoration: none;
        }
        p.small {
          margin: 16px 0 0;
        }
      }
    }
  }
}