@import '../../shared/variables.scss';

.password-recovery {
  .gray-container {
    .register {
      height: 40px;
      border-radius: 100px;
      border: 1px solid $secondaryColor;
      text-align: center;
      padding: 11px 60.5px;
      width: 250px;
      color: $secondaryColor;
      text-decoration: none;
    }
    .form-container {
      max-width: 450px;
      border-radius: 20px;
      background-color: $whiteColor;
      padding: 39px 45px;
      margin: 0 auto 50px;

      .title {
        font-size: 22px;
        margin: 0;
        margin-bottom: 35px;
      }
      .btn {
        height: 45px;
        background-color: $grayColor;
        width: 100%;
        border-radius: 100px;

        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $whiteColor;
      }
      .forgot-password {
        font-size: 14px;
        padding-top: 30px;
        color: $grayColor;
        display: block;
      }
      .form-group {
        position: relative;
        label {
          font-size: 14px;
          position: absolute;
          left: 19px;
          top: 14px;
        }
        input {
          border-radius: 100px;
          background-color: $lightGrayColor;
          height: 45px;
          padding-left: 75px;
          padding-right: 15px;

          &.confirmation {
            padding-left: 115px;
          }
        }
      }
    }
  }
}