@import '../../shared/variables.scss';

.register-opportunity {
  .form-container {
    background-color: $whiteColor;
    padding: 28px 42px 50px;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 20px;
    .user-picture {
      position: relative;
      .avatar {
        height: 119px;
        border-radius: 50%;
      }
      .camera {
        position: absolute;
        bottom: 0px;
        right: -24px;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: $secondaryColor;
        padding-top: 12px;
      }
    }
    .file-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .uploader {
      background-color: transparent;
      border: 0;
      outline: 0;
      margin-bottom: 37px;
      cursor: pointer;
    }
    .form-group {
      input,
      select,
      textarea {
        background-color: $lightGrayColor;
        margin: 8px 0;
      }
    }
    .btn-submit {
      width: 100%;
      max-width: 450px;
    }
  }
}
