@import '../../shared/variables.scss';

.opportunity-candidates {
  .table {
    span.block {
      display: block;
    }
    .text {
      font-size: 22px;
      &.small {
        font-size: 14px;
      }
    }
    tr {
      td {
        .invoice {
          text-decoration: underline;
          color: $grayColor;
        }
        .user-cpf {
          border: 0;
          height: auto;
          max-height: 100%;
          min-height: none;

          width: auto;
          max-width: 100%;
          min-width: none;
          background-color: transparent;
          pointer-events: painted;
          padding: 0;
          border-radius: 0px;
        }
        &.editable-col {
          min-width: 200px;
        }
        padding: 45px 0px 45px 10px;
      }
    }
    .form-edit {
      .form-group {
        width: 200px;
      }
      .btn {
        margin-top: 20px;
        margin-left: 10px;
        &.btn-remove {
          background-color: $grayColor;
        }
      }
      .file-name {
        padding-top: 5px;
        padding-left: 15px;
        position: absolute;
      }
      .invoice {
        display: block;
        margin-top: 10px;
      }
      .uploader {
        margin-top: 0px;
      }
      .icon-upload {
        font-size: 30px;
        color: #00a294;
        padding-left: 5px;
      }
      .pointer {
        cursor: pointer;
      }
    }
    .btn {
      background-color: $primaryColor;
      color: $whiteColor;
      text-align: center;
      outline: 0;
      height: 35px;
      border-radius: 100px;
      width: 35px;

      &.btn-edit {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        padding: 0;
        margin-left: 5px;
      }

      &.pdf {
        text-align: center;
        width: 38px;
        height: 38px;
        padding: 5px 7px;
        border-radius: 20px;
      }
    }
    .opacity {
      opacity: 0.2;
    }
    .voluntary {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .gray-container {
    padding-top: 0px;
  }
  .product-header {
    background-color: rgba(140, 100, 171, 0.2);
    padding: 45px 0;

    .product-img {
      margin-right: 40px;
      height: 85px;
      width: 85px;
      float: left;
      border-radius: 90px;
      @media screen and (max-width: 768px) {
        display: block;
        margin: 0 auto;
        float: none;
      }
    }

    .product-info {
      max-width: 520px;
      width: 100%;
      @media screen and (max-width: 768px) {
        max-width: 100%;
        .title {
          text-align: center;
        }
        .price {
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .price {
        font-size: 16px;
        margin-top: 15px;
      }
    }
    .btn-container {
      float: right;
      @media screen and (max-width: 768px) {
        float: none;
        width: 100%;
        text-align: center;
      }
      .btn {
        text-align: center;
        width: 84px;
        height: 42px;
        padding: 10px 0;
        border-radius: 0px;
        &.basket {
          background-color: $primaryColor;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          &.without-pdf {
            border-radius: 5px;
          }
        }
      }
    }
  }

  .details {
    padding-top: 54px;

    .title-container {
      .title {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .content {
      .title {
        font-size: 20px;
        color: $secondaryColor;
      }
      .text {
        margin-bottom: 50px;
      }
    }
  }
  .icon-hand {
    color: white;
    font-size: 24px;
  }
  .not-found {
    padding-left: 55px;
  }
  .remove {
    background-color: #ef3d50 !important;
  }
  .btn {
    padding: 0px 10px;
    padding-top: 2px;
  }
}
