@import '../../shared/variables.scss';

.opportunity-voluntary-detail {
  .gray-container {
    padding-top: 0px;
  }
  .product-header {
    background-color: rgba(140, 100, 171, 0.2);
    padding: 45px 0;

    .product-img {
      margin-right: 40px;
      height: 85px;
      width: 85px;
      float: left;
      border-radius: 90px;
      @media screen and (max-width: 768px) {
        display: block;
        margin: 0 auto;
        float: none;
      }
    }

    .product-info {
      max-width: 520px;
      width: 100%;
      @media screen and (max-width: 768px) {
        max-width: 100%;
        .title {
          text-align: center;
        }
        .price {
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .price {
        font-size: 16px;
        margin-top: 15px;
      }
    }
    .btn-container {
      float: right;
      @media screen and (max-width: 768px) {
        float: none;
        width: 100%;
        text-align: center;
      }
      .btn {
        text-align: center;
        width: 84px;
        height: 42px;
        padding: 10px 0;
        border-radius: 0px;
        &.basket {
          background-color: $primaryColor;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          &.without-pdf {
            border-radius: 5px;
          }
        }
      }
    }
  }

  .details {
    padding-top: 54px;

    .title-container {
      .title {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .content {
      .title {
        font-size: 20px;
        color: $secondaryColor;
      }
      .text {
        margin-bottom: 50px;
      }
    }
  }
  .icon-hand {
    color: white;
    font-size: 24px;
  }
}
