@import '../../shared/variables.scss';

.opportunity-voluntary-list {
  .table {
    span.block {
      display: block;
    }
    .text {
      font-size: 22px;
      &.small {
        font-size: 14px;
      }
    }
    tr {
      td {
        .invoice {
          text-decoration: underline;
          color: $grayColor;
        }
        .user-cpf {
          border: 0;
          height: auto;
          max-height: 100%;
          min-height: none;

          width: auto;
          max-width: 100%;
          min-width: none;
          background-color: transparent;
          pointer-events: painted;
          padding: 0;
          border-radius: 0px;
        }
        &.editable-col {
          min-width: 200px;
        }
        padding: 45px 0px 45px 10px;
      }
    }
    .form-edit {
      .form-group {
        width: 200px;
      }
      .btn {
        margin-top: 20px;
        margin-left: 10px;
        &.btn-remove {
          background-color: $grayColor;
        }
      }
      .file-name {
        padding-top: 5px;
        padding-left: 15px;
        position: absolute;
      }
      .invoice {
        display: block;
        margin-top: 10px;
      }
      .uploader {
        margin-top: 0px;
      }
      .icon-upload {
        font-size: 30px;
        color: #00a294;
        padding-left: 5px;
      }
      .pointer {
        cursor: pointer;
      }
    }
    .btn {
      background-color: $primaryColor;
      color: $whiteColor;
      text-align: center;
      outline: 0;
      height: 45px;
      border-radius: 100px;
      width: 45px;

      &.btn-edit {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        padding: 0;
        margin-left: 5px;
      }

      &.pdf {
        text-align: center;
        width: 38px;
        height: 38px;
        padding: 5px 7px;
        border-radius: 20px;
      }
    }
    .opacity {
      opacity: 0.2;
    }
  }
  .backoffice-search-form {
    position: relative;
    padding-top: 8px;
    margin-bottom: 20px;
    input {
      width: 100%;
      outline: 0;
      padding: 0 50px 0 15px;
      border: 1px solid #dadada;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0 15px;
    }
    .btn-submit {
      background-color: $primaryColor;
      height: 45px;
      width: 45px;
      border-radius: 22.5px;
      color: $whiteColor;
    }
    .btn {
      img {
        height: 20px;
      }
    }
  }
  .btn-pagination {
    background-color: $primaryColor;
    color: $whiteColor;
    height: 45px;
    border-radius: 100px;
    &:hover {
      color: $whiteColor;
    }
    &:first-child {
      margin-right: 10px;
    }
  }

  .btn-export {
    background-color: $primaryColor;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    color: $whiteColor;
    text-align: center;
    outline: 0;
    &:hover {
      color: white;
    }
  }
  .product-active,
  .product-active:hover {
    color: #00a294;
  }
  .product-inactive,
  .product-inactive:hover {
    color: #ef3d50;
  }
  .btn-inactive {
    background-color: #ef3d50 !important;
  }
}
