@import './variables.scss';

body {
  font-family: 'Montserrat', sans-serif;
}

.text {
  color: $grayColor;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  &.small {
    font-size: 10px;
  }
  &:hover {
    color: $grayColor;
  }
  &.primary {
    color: $primaryColor;
  }
  &.secondary {
    color: $secondaryColor;
  }
}

.bold {
  font-weight: 700 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: $grayColor;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  font-weight: normal;
  &.primary {
    color: $primaryColor;
  }
  &.gray {
    color: $grayColor;
  }
}
h1.title {
  font-size: 32px;
  font-weight: 600;
}

h2.title {
  font-size: 30px;
  font-weight: 600;
}

h3.title {
  font-size: 25px;
  font-weight: 600;
}

h4.title {
  font-size: 13px;
  font-weight: bold;
}

.s-alert-box {
  border-radius: 5px;
}
.s-alert-success {
  background-color: $primaryColor !important;
  min-width: 300px;
}

.s-alert-error {
  background-color: $secondaryColor !important;
  min-width: 300px;
}

.gray-container {
  background-color: $lightGrayColor;
  padding: 35px 0 70px;
  .page-description {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.btn-container {
  padding-top: 40px;
  .btn-submit {
    text-align: center;
    color: $whiteColor;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    background-color: $grayColor;
    outline: 0;

    &:hover,
    &:active,
    &:focus {
      color: $whiteColor;
      outline: 0;
    }
  }
}

input[type='text'],
input[type='password'],
input[type='email'] {
  outline: 0;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid #dadada;
}

input[disabled],
select[disabled] {
  background-color: #dadada;
}

textarea {
  outline: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dadada;
  padding: 10px;
}

select {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #dadada;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $grayColor;
  width: 100%;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 20px;
  outline: 0;
  position: relative;
  background: url('/img/icons/select-row.png') 13px no-repeat $whiteColor;
  background-position-x: right;
  option {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
}

.btn-submit {
  &.checkout {
    background-color: $primaryColor;
    width: 100%;
    max-width: 392px;
    outline: 0;
    height: 64px;
    padding: 0 20px;
  }
  &.back {
    background-color: $grayColor;
  }
}

.table-responsive {
  border: 0 !important;
}

button {
  outline: 0;
}

.title-container {
  margin-bottom: 50px;
  img {
    height: 31px;
    margin-right: 20px;
  }
}

.policy {
  a {
    text-decoration: underline;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dadada;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadada;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadada;
}

.heart-color {
  font-size: 32px;
  color: #ef3d50;
  padding-right: 15px;
}

.title-container {
  .title {
    display: inline;
  }
}
