@import '../../shared/variables.scss';

.voluntary-box {
  width: 100%;
  background-color: $whiteColor;
  min-height: 330px;
  margin: 15px auto;

  img {
    height: 85px;
  }
  @media screen and (min-width: 992px) {
    max-width: 220px;
    max-height: 330px;
  }
  a {
    text-decoration: none;
  }
  .title {
    margin-top: 20px;
    padding: 0px 20px 0px;
  }
  .price {
    margin: 0;
  }
  .indication {
    padding: 0px 20px 0px;
  }
  .discount {
    font-size: 14px;
    text-decoration: line-through;
  }
  .img-inst {
    border-radius: 60px;
    width: 85px;
  }
  .img-box {
    padding-top: 25px;
  }
  .price {
    margin: 0;
    font-size: 12px;
  }
  .padding {
    padding-bottom: 5px;
  }
  .voluntary-image {
    color: #00a294;
    font-size: 60px;
  }
  .icon-option {
    padding-right: 8px;
  }
  .offer-text {
    background: #ef3d50;
    color: white;
    text-align: center;
    margin-bottom: 0px;
  }
  .offer-box {
    height: 30px;
  }
  .product-image {
    padding-top: 20px;
  }
  .btn-container {
    padding-top: 15px;
    img {
      height: 13.8px;
      object-fit: contain;
    }
    .btn {
      width: 55px;
      outline: 0;
    }
    .detail {
      border: 1px solid #909090;
    }
    .add-to-basket {
      border: 1px solid $primaryColor;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .options {
    position: absolute;
    bottom: 0px;
    margin-bottom: 40px;
    text-align: center;
    right: 0;
    left: 0;
  }
  .prancheta {
    border-radius: 100px;
  }
}
