@import '../../shared/variables.scss';

header {
  min-height: $headerHeight;
  background-color: white;
  border-bottom: 10px solid $primaryColor;
  padding-top: 44px;
  .navbar-brand {
    padding-top: 0px !important;
  }
  .navbar-default {
    background-color: $whiteColor;
    border-color: transparent;
    border: 0;
    @media screen and (max-width: 992px) {
      > .container {
        width: 100%;
      }
    }
    .navbar-collapse {
      border-color: transparent;
    }
    .menu-icon {
      color: #00a294;
      font-size: 18px;
      padding-right: 10px;
    }
    .navbar-nav {
      @media screen and (min-width: 768px) {
        &.left-nav {
          margin-left: 5%;
        }
      }

      li {
        &.active {
          a,
          a:hover {
            color: $primaryColor;
            background-color: transparent;
          }
        }
        a {
          color: $grayColor;
          .icon {
            height: 20px;
            margin-right: 10px;
          }
          .avatar {
            height: 30px;
            border-radius: 50%;
          }
          &:hover {
            color: $primaryColor !important;
            background-color: transparent;
          }
        }
        &.basket {
          position: relative;
          .badge {
            width: 19px;
            height: 19px;
            border-radius: 9.5px;
            position: absolute;
            background-color: $secondaryColor;
            font-family: 'Titillium Web', sans-serif;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: center;
            padding: 1px 0;
            @media screen and (min-width: 768px) {
              bottom: 3px;
              left: 3px;
            }
            @media screen and (max-width: 768px) {
              top: 5px;
              left: 78px;
            }
          }
        }
        .search-form {
          position: relative;
          padding-top: 8px;
          input {
            width: 299px;
            height: 45px;
            border-radius: 100px;
            outline: 0;
            padding: 0 50px 0 15px;
            border: 1px solid $lightGrayColor;
          }
          @media screen and (max-width: 768px) {
            input {
              width: 100%;
            }
            margin: 0 15px;
          }
          .btn {
            background-color: transparent;
            position: absolute;
            right: 5px;
            top: 12px;
            img {
              height: 20px;
            }
          }
        }
        .dropdown-menu {
          li {
            a {
              padding: 15px 20px;
            }
          }
        }
      }

      .navbar-toggle:hover,
      .navbar-toggle:active {
        background-color: $grayColor;
      }
    }
  }
}
