@import '../../shared/variables.scss';

.donate-list {
  .btn-load-more {
    margin-top: 25px;
    border-radius: 100px;
    padding: 9px 19px;
    border: 1px solid $grayColor;
    color: $grayColor;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    outline: 0;
  }
}
