@import '../../shared/variables.scss';

.footer {
  background-color: white;
  height: $footerHeight;
  border-top: 10px solid #00a294;

  .logo {
    height: 120px;
  }

  .by {
    padding-top: 44px;
  }

  .by-text {
    font-size: 14px;
  }

  .teacher {
    font-size: 11px;
    padding-left: 15px;
  }
}
