@import '../../shared/variables.scss';

.navigation-bar {
  background-color: rgba(0, 162, 148, 0.1);
  min-height: 140px;
  padding-top: 53px;
  .title-container {
    max-width: 330px;
    width: 100%;
    .title {
      margin-top: 0;
      font-size: 30px;
      padding-left: 15px;
    }
    > img {
      height: 20px;
      margin-top: 10px;
    }
  }
  .breadcrumb {
    background-color: transparent;
    li {
      display: inline;
      a,
      a:hover,
      a:active {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        letter-spacing: normal;
        text-align: right;
        color: $grayColor;
      }
      &:last-child {
        a,
        a:hover,
        a:active {
          color: $secondaryColor;
        }
      }
      &:not(:first-child):before {
        margin: 0 10px;
        content: '>';
        color: $primaryColor;
      }
    }
  }
}
