@import '../../shared/variables.scss';

.categories {
  a {
    text-decoration: none;
  }
  .pointer {
    cursor: pointer;
  }
  li {
    div:hover {
      .text {
        color: $secondaryColor;
      }
    }
    &.active {
      div {
        .text {
          color: $secondaryColor;
        }
      }
    }
  }
  > li {
    .title {
      border-bottom: 1px solid $lightGrayColor;
      padding-bottom: 10px;
      margin-bottom: 0;
      margin-top: 0px;
    }
    padding: 20px 0;
    ul {
      padding: 10px;
      li {
        border-bottom: 1px solid $lightGrayColor;
        padding: 20px 0;
        img {
          margin-right: 5px;
        }
      }
    }
  }
}
