.banner {
  .slick-arrow {
    &.slick-prev {
      z-index: 1;
      left: 50px;
      height: 40px;
      &:before {
        content: url('/img/icons/arrow-prev.png');
        height: 100%;
      }
    }
    &.slick-next {
      z-index: 1;
      right: 50px;
      height: 40px;
      &:before {
        content: url('/img/icons/arrow-next.png');
        height: 100%;
      }
    }
  }
}